<nav class="navbar">
    <div class="nav">
        <ul class="titre">
            <a href="{{ path('app_home_page') }}">A PROPOS DE NOUS</a>
            <a href="{{ path('app_home_page') }}">CONTACT</a>
        </ul>
        <div class="logoNav">
            <img src="{{ asset('images/LOGO APOLLO.png') }}" alt="Logo">
        </div>
        <ul class="titre">
            <a href="{{ path('app_home_page') }}">EVENEMENTS A VENIR</a>
            <a href="{{ path('app_home_page') }}">CARTE</a>
        </ul>
    </div>
</nav>